/node_modules/
/.svelte-kit/
/ipfs
/manga_cover
/ocr
/parsed_ocr
/wp-content
/json/admin.*
.vscode/
.DS_Store
/lang/*
!/lang/jlpt
!jlpt_*
!Conju*
!counter_word_ids*
!ratings.json
!mangaupdates.json
!lang_summary.json
/tools/__pycache__/
/venv